*{
    font-family: 'Baloo Bhai', cursive;
    padding: 0px 10px;
}

body{
    background-image: url("../assets/images/quiz.jpg");
}

h1{
    margin-top: 60px;
}

.ques{
    margin-top: 30px;
    margin-bottom: 50px;
}

#btn1, #btn2, #btn3, #btn4, #btn5{
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover{
    cursor: pointer;
    background-color: grey;
}

#btn{
    font-weight: bold;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
}

#btn:hover{
    cursor: pointer;
    background-color: grey;
}

input:hover{
    cursor: pointer;
}