*{
    font-family: 'Baloo Bhai', cursive;
    padding: 0px 10px;
}

body{
    background-image: url("../assets/images/quiz.jpg");
}

h1{
    margin-top: 60px;
}

.ques{
    margin: 40px;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    transition: transform .8s;
}

.ques:hover{
    transform: scale(1.05);
    backdrop-filter: blur(10px);
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btn10, #btn11, #btn12, #btn13, #btn14, #btn15{
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn7:hover, #btn8:hover, #btn9:hover, #btn10:hover, #btn11:hover, #btn12:hover, #btn13:hover, #btn14:hover, #btn15:hover{
    cursor: pointer;
    background-color: grey;
}

#btn{
    font-weight: bold;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
}

#btn:hover{
    cursor: pointer;
    background-color: grey;
}

input:hover{
    cursor: pointer;
}
